<div class="container mt-4">
  <h1 class="text-center">Búsqueda de Perfil</h1>

  <!-- Barra de búsqueda -->
  <div class="input-group my-3">
    <input [(ngModel)]="username" class="form-control" placeholder="Buscar usuario por username..." />
    <button class="btn btn-primary" (click)="searchUser()">Buscar</button>
  </div>

  <app-error-display *ngIf="errorMessage" [message]="errorMessage" />

  <app-user-info *ngIf="user" [user]="user" />

  <app-user-posts *ngIf="user" [posts]="posts" [comments]="comments" />
</div>
