<div *ngFor="let post of posts" class="card mt-3">
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.body }}</p>
    <p>
      <i class="bi bi-heart-fill text-danger cursor-pointer"></i> {{ post.reactions.likes }}  
      <i class="bi bi-hand-thumbs-down-fill text-secondary cursor-pointer ms-2"></i> {{ post.reactions.dislikes }}
    </p>
    
    <h6>comentarios:</h6>
    <div *ngFor="let comment of comments[post.id]">
      <p>{{ comment.user.username }}: {{ comment.body }}</p>
    </div>
  </div>
</div>
